.header {
    background: $dark-blue;
    padding:1.6rem 0;
}

.header__title{
    color:white;
    text-decoration:none; //clear default 
    h1{
        margin:0;
    }
    @media(max-width:$desktop-breakpoint){
        font-size:1rem;
    }
}

.header__content{
    display:flex;
    justify-content:space-between;
    align-items: center;
    
}